
<form action="/payment/results">
  <label for="giraffe">APR</label>
  <input id="giraffe" type="text" placeholder="E.g. 5.42" name="user_apr">
  <label for="zebra">Number of years</label>
  <input id="zebra" type="text" placeholder="How many years to repay?" name="user_years">
  <label for="moose">Principal</label>
  <input id="moose" type="text" placeholder="How much principal?" name="user_pv">

  <button>Calculate monthly payment</button>
</form>