
<form action="/random/results">
  <label for="giraffe">Minimum</label>
  <input id="giraffe" type="text" placeholder="E.g. 1.5" name="user_min">
  <label for="zebra">Maximum</label>
  <input id="zebra" type="text" placeholder="E.g. 4.5" name="user_max">

  <button>Pick random number</button>
</form>