

<form action="/square/results">
  <label for="giraffe">Enter a number</label>
  <input id="giraffe" type="text" placeholder="What do you want to sqaure?" name="number">

  <button>Calculate square</button>
</form>