

<form action="/square_root/results">
  <label for="giraffe">Enter a number</label>
  <input id="giraffe" type="text" placeholder="What do you want to find the sqaure root of?" name="number">

  <button>Calculate square root</button>
</form>